
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f4f6fb;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.card h2 {
  margin-bottom: 20px;
  color: #4f46e5;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}

.top {
  background: #4f46e5;
  color: white;
  padding: 15px;
  text-align: center;
}

.container {
  padding: 20px;
}

.user {
  background: white;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.bubble {
  max-width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.me {
  background: #4f46e5;
  color: white;
  margin-left: auto;
}

.other {
  background: white;
}

small {
  font-size: 11px;
  opacity: 0.7;
}

/* .del {
  background: red;
  margin-top: 5px;
  padding: 4px;
  font-size: 12px;
} */

.send {
  display: flex;
  padding: 10px;
  background: white;
}

.send input {
  flex: 1;
}

.send button {
  width: auto;
  margin-left: 10px;
}

/* Mobile */
@media (max-width: 600px) {
  .bubble {
    max-width: 85%;
  }
}

/* single line button for edit msg */
.actions {
  display: flex;
  gap: 8px;
  margin-top: 6px;
}

.actions .half {
  flex: 1;          /* 50% + 50% */
}

.actions button {
  width: 100%;
  padding: 8px 0;
  border-radius: 6px;
  font-size: 13px;
}

/* Edit Button */
.edit {
  background: #64748b;
  color: white;
  border: none;
}

.edit:hover {
  background: #475569;
}

/* Delete Button */
.del {
  background: #ef4444;
  color: white;
  border: none;
}

.del:hover {
  background: #dc2626;
}
